@charset "UTF-8";

#wrap {
	width:900px;
	height:1000px;
	margin:auto;
}

header {
	height:50px;
	background-color:#9370DB;
}

footer {
	height:30px;
	background-color:#9370DB;
}

.logo-image {
	width:300px;
    height:300px;
    float:left;
}

#loginForm {
	width:300px;
    height:300px;
    float:right;
}
#idDuplication {
	display:none;
}

#idNotDuplication {
	display:none;
}

#emailDuplication {
	display:none;
}

#emailNotDuplication {
	display:none;
}



